/*
  Name: sona bijumon prasobha
  File: story.css
  Date: 25-03-2025
  Description: css styling for story teller.
*/

body {
    font-family: helvetica, sans-serif;
    width: 350px;
    margin: 40px;
    background-color: beige;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px; 
  }
  
  div {
    padding-bottom: 20px;
  }
.box {
    background-color: #7e7132;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  
  input[type="text"] {
    padding: 5px;
    width: 150px;
    border-radius: 4px;
  }
  
  p.story {
    background: #d4c59f;
    color: #c34f24;
    padding: 10px;
    visibility: visible;
  }
  
